<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparekart</title>
    <link rel="icon" type="image/x-icon" href="../static/images/cart_4628369.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/images/logo comparekart.jpg" alt="Comparekart Logo" class="logo-image">
        </div>
        <div class="search-container">
            <input type="text" id="searchQuery" placeholder="Search for products, brands and more">
            <button id="searchButton"><i class="fas fa-search"></i></button>
        </div>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
    </header>
    <nav class="category-drawer">
        <ul>
            <li><a href="#"><i class="fas fa-laptop"></i> Electronics</a></li>
            <li><a href="#"><i class="fas fa-tv"></i> TVs & Appliances</a></li>
            <li><a href="#"><i class="fas fa-male"></i> Men</a></li>
            <li><a href="#"><i class="fas fa-female"></i> Women</a></li>
            <li><a href="#"><i class="fas fa-baby"></i> Baby & Kids</a></li>
            <li><a href="#"><i class="fas fa-couch"></i> Home & Furniture</a></li>
            <li><a href="#"><i class="fas fa-football-ball"></i> Sports, Books & More</a></li>
            <li><a href="#"><i class="fas fa-plane"></i> Flights</a></li>
            <li><a href="#"><i class="fas fa-tags"></i> Offer Zone</a></li>
            <li><a href="#"><i class="fas fa-shopping-basket"></i> Grocery</a></li>
        </ul>
    </nav>
    <main>
        <h2>Welcome to Comparekart</h2>
        <p>Your one-stop destination for comparing the best products.</p>
        <div class="productURL">
            <input type="text" id="productURL" placeholder="Enter the product URL">
            <button id="urlButton"><i class="fas fa-arrow-right"></i></button>
            <button id="product">Compare</button>
        </div>

        <div id="loader"></div>
        <div id="results"></div>
        <div id="comparisonTable"></div>


        <div class="card-container">
            <div class="moving-card">
                <div class="card-logo flipkart lazyload" data-src="../static/images/flipkart.jpg"></div>
                <div class="card-logo adidas lazyload" data-src="../static/images/adidas.jpg"></div>
                <div class="card-logo airtel lazyload" data-src="../static/images/airtel.jpg"></div>
                <div class="card-logo Amul lazyload" data-src="../static/images/Amul.png"></div>
                <div class="card-logo amazon lazyload" data-src="../static/images/amazon.jpg"></div>
                <div class="card-logo myntra lazyload" data-src="../static/images/myntra.jpg"></div>
                <div class="card-logo lg lazyload" data-src="../static/images/lg.jpg"></div>
                <div class="card-logo apple lazyload" data-src="../static/images/apple.jpg"></div>
                <div class="card-logo sony lazyload" data-src="../static/images/sony.jpg"></div>
                <div class="card-logo jbl lazyload" data-src="../static/images/jbl.jpg"></div>
                <div class="card-logo boAt lazyload" data-src="../static/images/boat.jpg"></div>
                <div class="card-logo bose lazyload" data-src="../static/images/bose.jpg"></div>
                <div class="card-logo puma lazyload" data-src="../static/images/puma.jpg"></div>
                <div class="card-logo realme lazyload" data-src="../static/images/realme.jpg"></div>
                <div class="card-logo mi lazyload" data-src="../static/images/mi.jpg"></div>
                <div class="card-logo audi lazyload" data-src="../static/images/audi.jpg"></div>
                <div class="card-logo oneplus lazyload" data-src="../static/images/oneplus.jpg"></div>
                <div class="card-logo vivo lazyload" data-src="../static/images/vivo.jpg"></div>
                <div class="card-logo oppo lazyload" data-src="../static/images/oppo.jpg"></div>

                <div class="card-logo xiaomi lazyload" data-src="../static/images/xiaomi.jpg"></div>
                <div class="card-logo dell lazyload" data-src="../static/images/dell.jpg"></div>
                <div class="card-logo pg lazyload" data-src="../static/images/pg.jpg"></div>
                <div class="card-logo unilever lazyload" data-src="../static/images/unilever.jpg"></div>
                <div class="card-logo nestle lazyload" data-src="../static/images/nestle.jpg"></div>
                <div class="card-logo pepsico lazyload" data-src="../static/images/pepsico.jpg"></div>
                <div class="card-logo casio lazyload" data-src="../static/images/casio.jpg"></div>
                <div class="card-logo rayban lazyload" data-src="../static/images/rayban.jpg"></div>
                <div class="card-logo gucci lazyload" data-src="../static/images/gucci.jpg"></div>
                <div class="card-logo nike lazyload" data-src="../static/images/nike.jpg"></div>
                <div class="card-logo adidas lazyload" data-src="../static/images/adidas.jpg"></div>
                <div class="card-logo calvinklein lazyload" data-src="../static/images/calvinklein.jpg"></div>
                <div class="card-logo tommyhilfiger lazyload" data-src="../static/images/tommy.jpg"></div>
                <div class="card-logo puma lazyload" data-src="../static/images/puma.jpg"></div>
                <div class="card-logo visa lazyload" data-src="../static/images/visa.jpg"></div>
                <div class="card-logo asus lazyload" data-src="../static/images/asus.jpg"></div>
                <div class="card-logo samsung lazyload" data-src="../static/images/samsung.jpg"></div>
                <div class="card-logo youtube lazyload" data-src="../static/images/youtube.jpg"></div>
                <div class="card-logo oppo lazyload" data-src="../static/images/oppo.jpg"></div>
                <div class="card-logo vivo lazyload" data-src="../static/images/vivo.jpg"></div>
                  <div class="card-logo zara lazyload" data-src="../static/images/zara.jpg"></div>
            </div>
        </div>
    </main>
    <section class="step-section">
        <h2>Step by Step Process to Check Price History</h2>
        <p class="subtitle">Find the right price of any product using just 2 simple steps</p>
        <div class="step-cards">
          <div class="step-card">
            <div class="step-icon">🛍️</div>
            <div class="step-title">Step 1</div>
            <div class="step-desc">
              Just copy and paste the link of any product from online stores like Flipkart or Amazon in the search bar above.
            </div>
          </div>
          <div class="step-card">
            <div class="step-icon">📉</div>
            <div class="step-title">Step 2</div>
            <div class="step-desc">
              Discover its price history, find the lowest price, and set up alerts for price drops.
            </div>
          </div>
        </div>
      </section>

      <section class="review-section">
        <h2>Over 2.6 Lakh Happy Users</h2>
        <p class="subheading">Rated 4.7 Stars — The Most Trusted Online Shopping Tool</p>

        <div class="review-cards">
          <div class="review-card">
            <p class="review-text">Getting notified by email when prices drop is the best feature!</p>
            <div class="review-author">— Srikar</div>
            <div class="stars">★★★★★</div>
          </div>

          <div class="review-card">
            <p class="review-text">Excellent Extension 👋 Kudos to the developer, you saved me few 1000 rupees</p>
            <div class="review-author">— Ravikumar</div>
            <div class="stars">★★★★★</div>
          </div>

          <div class="review-card">
            <p class="review-text">Saved me spending 700 bucks extra on Amazon</p>
            <div class="review-author">— S Jaiswal</div>
            <div class="stars">★★★★☆
            </div>
          </div>
        </div>
      </section>


    <footer>
        <p>&copy; 2024 Comparekart. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>